body {
    background-color: rgb(146, 154, 161);
}

.box {
    width: 5rem;
}

.lang-switch {
  position: fixed;
  top: 20px;
  right: 20px;
}

.lang-switch a {
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  background: #ffffff;
  padding: 6px 10px;
  border-radius: 8px;
}

.imagem {
    display: flex;
    gap: 3rem;
}

footer {
  font-size: 26px;
}